<section id="slider" class="slider-element include-header" style="background:#1E232A; height: 800px;">
    <div class="move-bg position-absolute w-100 h-100" style="top: 0; left: 0;background: url('./assets/demos/writer/images/hero/editbook1.webp') center center no-repeat; background-size: cover;"></div>
    <div class="vertical-middle ignore-header">
        <div class="container dark py-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-12 col-md-6" data-lightbox="gallery">
                    <div class="emphasis-title bottommargin-sm">
                        <br><br>
                        <h1 class="400" data-animate="fadeInUp" data-delay="600" style="color: rgb(255, 213, 28);">Latest released by<br><span><em>Arnold Newman</em></span>.</h1>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-12 col-md-6" data-lightbox="gallery">
                    <div class="oc-wrap">
                        <div class="oc-item">
                            <img class="img1" src="./assets/demos/writer/images/teacher/teacher4.webp" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Video Overlay -->
    <div class="video-wrap" style="height: 800px; position: absolute; left: 0; bottom: 0;">
        <div class="video-overlay" style="background: -moz-linear-gradient(top,  rgba(30,35,42,0) 21%, rgba(30,35,42,0) 66%, rgba(30,35,42,1) 100%); background: -webkit-linear-gradient(top,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); background: linear-gradient(to bottom,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e232a', endColorstr='#1e232a',GradientType=0 );">
        </div>
    </div>
</section>
