.img1{
    margin: 10px;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 50px;
    border-style: double;
    border-collapse: initial;
    border-color: rgb(245, 236, 118);
}