.oc-item{
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
}

.oc-item1{
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
}

.headabout{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.DR{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.cmu{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

.mb-0{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding-right: 5%;
    padding-top: 5%;
}

.picturefont{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.positionfont{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.dark.lead{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding-right: 5%;
}
