<div id="section-about">
<div class="content-wrap pb-0" style="background: linear-gradient(to bottom, #1E232A, transparent, #1E232A), url('./assets/demos/teacher/background/nature5.webp') no-repeat center top / cover;">
           
        
        <div class="section bg-transparent">
            <div class="container">
                <div class="heading-block mb-4 border-bottom-0">
                    <h2 class="headabout" style="color: rgb(255, 213, 28);">About Us</h2>
                </div>
                <div class="row align-items-center">

                    <div class="col-lg-3 col-sm-6">
                        <div class="heading-block">
                            <h2 class="DR" style="color: rgb(248, 225, 121);" >DR.EKKARAT BOONCHIENG</h2>
                            <p class="cmu" style="color: rgb(248, 225, 121);">Chiang Mai University</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mt-3 mt-sm-0">
                        <p class="mb-0" style="color: rgb(255, 240, 172);">EKKARAT BOONCHIENG received the B.S. degree in computer science from Khon Kaen University, Khon Kaen Thailand, in 1990, M.S. degree in computer and information science from University of New Haven, West Haven, USA, in 1992 and Ph.D. degree in computer science from Illinois Institute of Technology, Illinois, USA, in 2000. He is currently working at Department of Computer Science, Chiang Mai University, Chiang Mai, Thailand. His research interests are data communication, computer networking, computer security, computer graphics, image processing, data science and biomedical engineering.
                            <br><br>    
                            Associate Professor of Computer Science<br>
                            ekkarat.boonchieng@cmu.ac.th.</p>
                    </div>

                    <div class="col-lg-5 mt-5 mt-lg-0">
                        <h4 class="picturefont" style="color: rgb(255, 231, 95);">Picture </h4>
                        <div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="true" data-items-xs="2" data-items-sm="3" data-items-md="3" data-items-lg="2" data-items-xl="2">

                                <div class="oc-wrap">
                                    <div class="oc-item">
                                        <a href="#"><img src="./assets/demos/writer/images/teacher/about2.webp" alt="Image 2"></a>
                                    </div>
                                </div>

                                <div class="oc-wrap">
                                    <div class="oc-item">
                                        <a href="#"><img src="./assets/demos/writer/images/teacher/about3.webp" alt="Image 2"></a>
                                    </div>
                                </div>

                                <div class="oc-wrap">
                                    <div class="oc-item">
                                        <a href="#"><img src="./assets/demos/writer/images/teacher/about4.webp" alt="Image 2"></a>
                                    </div>
                                </div>
                                    
                                <div class="oc-wrap">
                                    <div class="oc-item">
                                        <a href="#"><img src="./assets/demos/writer/images/teacher/about5.webp" alt="Image 2"></a>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="section-position" class="clear topmargin-sm bottommargin-lg"></div>
            <div class="clear topmargin-sm bottommargin-lg"></div>
            
            <div  class="container clearfix">

                <div class="row clearfix" >
                    <div class="col-lg-4 offset-lg-1">
                        <div class="oc-wrap">
                            <div class="oc-item">
                                <img src="./assets/demos/writer/images/teacher/position1.webp" alt="Book Mockup">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 offset-lg-1 ">
                        <h3 class="positionfont" style="font-size: 36px; color: rgb(255, 213, 28);">Current Positions</h3>
                        <p class="dark lead" style="color:rgb(255, 240, 172); ">
                            Deputy Dean of Graduate School<br><br>
                            Director, Center of Excellence in Community Health Informatics, Chiang Mai University. <br><br>
                            ECTI Technical Chair (Computers)
                            Electrical Engineering/Electronics, Computer, Telecommunications and Information Technology Association of Thailand (ECTI Thailand)
                        </p>
                    </div>
                
                </div>
            </div>

        </div>
    </div>
</div>