	<!-- Document Wrapper
	============================================= -->
	<div id="section-entertainer" class="clearfix">

		<!-- Hero Section
		============================================= -->
		<section id="slider" class="slider" style="background-color: #1E232A; padding: 100px 0;">
			<div class="shape-divider" data-shape="wave-6" data-height="350"></div>

			<div class="container mw-sm text-center" style="z-index: 3; color: rgb(250, 250, 250); ">
				<h3 class="display-4 fw-bold mb-5" style="color: rgb(255, 213, 28); text-shadow: black 0.1em 0.1em 0.2em">Entertainer<br>lerning and relax</h3>
				<p class="px-5">Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Iure repellat animi praesentium sunt magni quia consectetur numquam vero incidunt enim.</p>
			</div>
            <div class="section bg-transparent mt-0 clearfix">
                <div class="container clearfix">
                    <div class="row topmargin-lg clearfix">
                        <div class="col-lg-6 p-0" >
                            <!-- Youtube Video Link
                            ============================================= -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/iheAKAkiAGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <br><br>
                        </div>
                        
                        <!-- Video Texts
                        ============================================= -->
                        <div class="col-lg-6" style="padding-left: 60px; color: rgb(250, 250, 250);">
                            <div class="heading-block topmargin-sm bottommargin-sm border-0">
                                <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px; color: rgb(255, 213, 28);  ">สอน Python เบื้องต้น</h3>
                            </div>
                            <p class="fw-normal">
                                <a href="https://www.youtube.com/channel/UCt9JGLXSp5EMfe99djsvmiw">ch.Zinglecode</a><br>
                                สอน Python เบื้องต้น เริ่มต้นจากพื้นฐานภาษา Python แล้วไปสิ้นสุดที่การลองเขียน Desktop App สำหรับคำนวณสูตรคูณ</p>
                        </div>        
                        <div class="col-lg-6 p-0" >
                            <!-- Youtube Video Link
                            ============================================= -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZLDz-p2Q4Nw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <br><br>
                        </div>
                        <div class="col-lg-6" style="padding-left: 60px; color: rgb(250, 250, 250);">
                            <div class="heading-block topmargin-sm bottommargin-sm border-0">
                                <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px; color: rgb(255, 213, 28);  ">อนาคตของ Bitcoin</h3>
                            </div>
                            <p class="fw-normal">
                                <a href="https://www.youtube.com/channel/UCL-1umYwzd94I2s7S_cyUZw">ch.Blue O'Clock</a>
                                <br>Michael Saylor คือเจ้าของบริษัท MicroStrategy ที่ผันมาตัวมาลงใน Bitcoin อย่างเต็มรูปแบบ โดยจากข้อมูล ณ วันที่ 21 พฤษภาคม ปี 2021 นี้ บริษัท Microstrategy มี Bitcoin อยู่ในมือกว่า 92,079 BTC (ณ ปัจจุบันน่าจะมีทะลุ 100,000 BTC ไปแล้ว) คิดเป็นสัดส่วน 0.438% ของ Bitcoin ทั้งหมดที่สามารถมีจำนวนเพียง 21 ล้าน</p>
                        </div>
                        <div class="col-lg-6 p-0" >
                            <!-- Youtube Video Link
                            ============================================= -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/jxEETGMGVVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <br><br>
                        </div>
                        <div class="col-lg-6" style="padding-left: 60px; color: rgb(250, 250, 250);">
                            <div class="heading-block topmargin-sm bottommargin-sm border-0">
                                <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px; color: rgb(255, 213, 28);  ">Metaverse</h3>
                            </div>
                            <a href="https://www.youtube.com/channel/UCtFf0Mb7MaluoPuyYonfaPQ">ch.ลงทุนแมน</a>
                            <p class="fw-normal">โลก Metaverse จุดเปลี่ยน อารยธรรมมนุษย์<br>Meta ชื่อใหม่ของบริษัท เฟซบุ๊ก ที่สะท้อนให้เห็นว่า เฟซบุ๊กกำลังมุ่งหน้าเข้าสู่ Metaverse แบบเต็มตัวในโลก Metaverse มีอะไร แล้วมันอาจจะเหนือกว่าที่เราคิด อย่างไร ? ลงทุนแมนจะเล่าให้ฟัง</p>
                        </div>
                    </div>
                </div>
            </div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				

			</div>
		</section><!-- #content end -->


	</div><!-- #wrapper end -->
