<div id="section-news"></div>
<section id="content" style="background-color: #1E232A;">
    <div style="transform: translateY(-100px);">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row justify-content-center gutter-50 col-mb-50">


                <div class="clear"></div>

                <div class="promo promo-dark promo-uppercase p-4 p-md-5 mb-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg">
                            <h3>Daily IT News
                            </h3>
                        </div>
                        <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                            <a href="#" [routerLink]="'news-detail'" class="btn btn-lg btn-outline-warning m-0">Read more >></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>

