<!-- <section id="slider" class="slider-element revslider-wrap bg-light include-header">
    
    <div id="rev_slider_120_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="immersion-grid44" data-source="gallery" style="margin:0px auto;background:#122631;padding:0px;margin-top:0px;margin-bottom:0px;">
       
        <div id="rev_slider_120_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
            <ul>	
                <li class="dark" data-index="rs-277" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                 
                    <img src="./assets/include/rs-plugin/demos/assets/images/transparent.png" data-bgcolor='#122631' style='background:#122631' alt="Image"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>

                    <div id="rrzt_277" class="rev_row_zone rev_row_zone_top" style="z-index: 25;">

                    <div class="tp-caption  "
                         id="slide-277-layer-81"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="row"
                        data-columnbreak="3"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[200,150,150,150]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,50,50]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 25; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
               
                    <div class="tp-caption  "
                         id="slide-277-layer-82"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="column"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-columnwidth="100%"
                        data-verticalalign="top"
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 26; width: 100%;">
                  
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                         id="slide-277-layer-51"
                         data-x="['center','center','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['150','150','0','0']"
                                    data-width="480"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+890","speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 27; min-width: 480px; max-width: 480px; white-space: normal; font-size: 35px; line-height: 50px; font-weight: 400; color: #ffffff; letter-spacing: 0px; display: inline-block;font-family:Montserrat;">Want to see more of us?<br/>Head over to <a href="#" class="immersion-link2" target="_blank"></a>. </div>
                            </div>
                        </div>

          
                    <div class="tp-caption  "
                         id="slide-277-layer-65"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="row"
                        data-columnbreak="3"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[100,100,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[100,100,50,50]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                
                    <div class="tp-caption  "
                         id="slide-277-layer-66"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="column"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-columnwidth="33.33%"
                        data-verticalalign="top"
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,15,10,10]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[20,15,10,10]"

                        style="z-index: 10; width: 100%;">
          
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                         id="slide-277-layer-55"
                         data-x="['left','left','left','left']" data-hoffset="['0','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['0','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;skX:0px;skY:0px;rX:0;rY:0;rZ:0;z:0;fb:0px;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[40,30,20,20]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 11; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid1.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>

                    <div class="tp-caption   tp-resizeme  im-autow disabled_lc rs-parallaxlevel-2 tp-videolayer"
                         id="slide-277-layer-75"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                    data-whitespace="normal"

                        data-type="video"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[40,30,20,20]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-autoplay="on"
                        data-volume="mute"
                        style="z-index: 13; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid1.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>

             
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
                         id="slide-277-layer-71"
                         data-x="['left','left','left','left']" data-hoffset="['5','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['5','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 12; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid4.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>
                            </div>

              
                    <div class="tp-caption  "
                         id="slide-277-layer-67"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="column"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-columnwidth="33.33%"
             data-verticalalign="top"
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,15,10,10]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[20,15,10,10]"

                        style="z-index: 14; width: 100%;">
            
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-10"
                         id="slide-277-layer-69"
                         data-x="['left','left','left','left']" data-hoffset="['0','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['0','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[40,30,20,20]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 15; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid2.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>

          
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-9"
                         id="slide-277-layer-72"
                         data-x="['left','left','left','left']" data-hoffset="['0','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['0','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[40,30,20,20]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 16; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid5.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>

                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-8"
                         id="slide-277-layer-76"
                         data-x="['left','left','left','left']" data-hoffset="['5','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['5','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 17; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid7.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>
                            </div>

            
                    <div class="tp-caption  "
                         id="slide-277-layer-68"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="column"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-columnwidth="33.33%"
             data-verticalalign="top"
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,15,10,10]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[20,15,10,10]"

                        style="z-index: 18; width: 100%;">
               
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-277-layer-70"
                         data-x="['left','left','left','left']" data-hoffset="['0','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['0','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[40,30,20,20]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 19; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid3.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>

          
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
                         id="slide-277-layer-73"
                         data-x="['left','left','left','left']" data-hoffset="['0','110','80','80']"
                         data-y="['top','top','top','top']" data-voffset="['0','150','120','120']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="normal"

                        data-type="image"
                        data-responsive_offset="on"

                        data-frames='[{"delay":"+490","speed":2000,"frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:50%;","style":"c:rgb(255,255,255);"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['right','right','right','right']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 20; display: block;cursor:pointer;"><img src="./assets/include/rs-plugin/demos/assets/images/grid6.webp" alt="Image" data-ww="['100%','100%','100%','100%']" data-hh="" data-no-retina> </div>
                            </div>
                        </div>

        
                    <div class="tp-caption  "
                         id="slide-277-layer-84"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="row"
                        data-columnbreak="3"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[200,150,150,150]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 21; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
          
                    <div class="tp-caption  "
                         id="slide-277-layer-85"
                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="column"
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-columnwidth="100%"
             data-verticalalign="top"
                        data-margintop="[0,0,0,0]"
                        data-marginright="[0,0,0,0]"
                        data-marginbottom="[0,0,0,0]"
                        data-marginleft="[0,0,0,0]"
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 22; width: 100%;">
          
                    

         
                    
                            </div>
                        </div>
                    </div>

        
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-277-layer-77"
                         data-x="['left','left','left','left']" data-hoffset="['57','82','40','40']"
                         data-y="['top','top','top','top']" data-voffset="['937','900','740','740']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">V </div>

                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-9"
                         id="slide-277-layer-78"
                         data-x="['left','left','left','left']" data-hoffset="['661','594','445','445']"
                         data-y="['top','top','top','top']" data-voffset="['1470','1352','886','886']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="['normal','nowrap','nowrap','nowrap']"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 6; white-space: normal; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">S </div>

                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-9"
                         id="slide-277-layer-81"
                         data-x="['left','left','left','left']" data-hoffset="['967','773','630','730']"
                         data-y="['top','top','top','top']" data-voffset="['1170','1152','586','586']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="['normal','nowrap','nowrap','nowrap']"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 6; white-space: normal; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">A </div>

          
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4"
                         id="slide-277-layer-79"
                         data-x="['left','left','left','left']" data-hoffset="['1167','973','730','730']"
                         data-y="['top','top','top','top']" data-voffset="['400','472','380','380']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 7; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">A </div>

           
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-277-layer-17"
                         data-x="['left','left','left','left']" data-hoffset="['290','237','130','130']"
                         data-y="['top','top','top','top']" data-voffset="['110','154','210','210']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 8; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">C </div>

                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-277-layer-80"
                         data-x="['left','left','left','left']" data-hoffset="['345','324','632','583']"
                         data-y="['top','top','top','top']" data-voffset="['600','672','580','580']"
                                    data-fontsize="['400','250','250','250']"
                        data-lineheight="['400','250','250','250']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:[-100%];y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 8; white-space: nowrap; font-size: 400px; line-height: 400px; font-weight: 400; color: #e10000; letter-spacing: 0px;font-family:Playfair Display;">N </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>

</section> -->

<!-- Slider
		============================================= -->
        <div id="section-gallery">
		<section id="slider" class="slider-element revslider-wrap" style="background-color: #1E232A;">
            <div class="container" >
                <h2 class="galhead" style="color: rgb(255, 213, 28);text-align: center;">Gallery</h2>
                    <div id="rev_slider_108_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="food-carousel80" style="margin:0px auto;background-color:#1E232A;padding:0px;margin-top:0px;margin-bottom:0px;">
                        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                        <div id="rev_slider_108_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7" style="background-color: #1E232A;">
                                <ul>	<!-- SLIDE  -->
                                    <li data-index="rs-325" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work1.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work1.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-325-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-325-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-325-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-325-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-325-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-326" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work2.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work2.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-326-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-326-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-326-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-326-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-326-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-327" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work3.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work3.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-327-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-327-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-327-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-327-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-327-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-328" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work4.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work4.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-328-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-328-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-328-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-328-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-328-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-329" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work5.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work5.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-329-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-329-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-329-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-329-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-329-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-330" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work6.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work6.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-330-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-330-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-330-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-330-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-330-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-331" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/work/work7.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/work/work7.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-332" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family1.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family1.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-333" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family2.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family2.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-334" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family3.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family3.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-335" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family5.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family4.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-336" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family5.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family5.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-337" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family6.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family6.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>

                                    <li data-index="rs-332" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="./assets/demos/writer/images/teacher/familys/family7.webp"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/demos/writer/images/teacher/familys/family7.webp"  alt="Image"  data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption FoodCarousel-Content   tp-resizeme"
                                            id="slide-331-layer-3"
                                            data-x="center" data-hoffset=""
                                            data-y="center" data-voffset=""
                                            data-width="['420']"
                                            data-height="['420']"
                                            data-transform_idle="o:1;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 5; min-width: 420px; max-width: 420px; max-width: 420px; max-width: 420px; white-space: normal;">
                                        </div>

                                        

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption FoodCarousel-CloseButton rev-btn  tp-resizeme"
                                            id="slide-331-layer-5"
                                            data-x="441"
                                            data-y="110"
                                            data-width="['auto']"
                                            data-height="['auto']"
                                            data-transform_idle="o:1;"
                                            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                            data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 1.00);cursor:pointer;"
                                            data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                                            data-transform_out="auto:auto;s:500;"
                                            data-start="bytrigger"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-331-layer-3","delay":""},{"event":"click","action":"stoplayer","layer":"slide-331-layer-5","delay":""},{"event":"click","action":"startlayer","layer":"slide-331-layer-1","delay":""}]'
                                            data-responsive_offset="on"
                                            data-end="bytrigger"
                                            data-lasttriggerstate="reset"
                                            style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; color:#444"><i class="icon-remove"></i>
                                        </div>
                                    </li>


                                </ul>

                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            
                        </div><!-- END REVOLUTION SLIDER -->
                        
                        

                    </div>
                    <div class="center">
                        <a href="/gallery-detail" class="button button-rounded button-reveal button-large button-amber button-light text-end" style="color: aliceblue;"><i class="icon-line-arrow-right"></i><span>รูปภาพเพิ่มเติม</span></a>
                </div>
                
            </div>
</section><!-- #content end -->
</div>