
<section id="section-portfolio" class="center page-section" style="background: linear-gradient(to bottom, #1E232A, transparent, #1E232A), url('./assets/demos/teacher/background/liberty1.jpg') no-repeat center top / cover;">
    <div class="content-wrap">
        <div class="container center" id="section-portfolio">
            <br>
            <h2 class="hport" style="color: rgb(255, 213, 28);">Portfolio</h2>

            <div class="row gutter-50">

                <!-- Portfolio Single Image
                ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    <div class="col-lg-12">
                        <div class="col-lg-9 offset-md-3">
                            <div class="t0">
                                Dr.Ekkarat Boonchieng<br>
                                Associate Professor</div>
                            <br>
                            <div class="P2">
                                Address
                            </div>
                                <div class="P3">
                                    Faculty of Science<br>
                                    Department of Computer Science<br>
                                    Chiang Mai University
                                </div> 
                            <br>
                            <div class="P2">
                                Phone
                            </div>
                                <div class="P3">
                                    0818811083
                                </div>
                            <br>
                            <div class="P2">
                                E-mail 
                            </div>
                                <div class="P3">
                                    ekkarat.boonchieng@cmu.ac.th
                                </div>
                            <br>
                            <div class="P2">
                                Date of birth
                            </div>
                                <div class="P3">
                                    1967-06-18
                                </div>
                        </div>
                    </div>
                </div><!-- .portfolio-single-image end -->
                <br><br>
                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col-lg-6 portfolio-single-content content-sticky">

                    <div class="row col-mb-30">
                        <a href="#" class="col-lg-10 col-md-6">
                            <div class="oc-wrap">
                                <div class="oc-item">
                                    <img src="./assets/demos/writer/images/teacher/_73A1325.jpg" alt="Image 1">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="container center">
            <div class="row gutter-50">

                <div class="col-lg-5 portfolio-single-image center" data-lightbox="gallery">
                        <div class="col-lg-10 offset-md-2">
                                <h4 class="eduhead1" align='left'>Eduacation</h4>
                                <div class="ed1" style="color: rgb(252, 217, 62);text-align: left;">1987-1990</div>
                                <div class="ed2" style="color: rgb(255, 230, 118);text-align: left;">Khon Kaen University - BS.(Computer Science)</div>
                                <br>
                                <div class="ed1" style="color: rgb(252, 217, 62);text-align: left;">1991-1992</div>
                                <div class="ed2" style="color: rgb(255, 230, 118);text-align: left;">University of New Haven - MS.(Computer Science)</div>
                                <br>
                                <div class="ed1" style="color: rgb(252, 217, 62);text-align: left;">1995-2000</div>
                                <div class="ed2" style="color: rgb(255, 230, 118);text-align: left;">Illinois Institute of Technology - Ph.D.(Computer Science)</div>
                                <br>
                        </div>
                        <br><br>
                        <div class="col-lg-10 offset-md-2">
                            <h4 class="eduhead1" align='left' >Certificates</h4>
                        <p class="c1" style="font-size:18px;text-align:left;color: rgb(255, 240, 172);">
                            • Cisco Certified Network Associated (Cisco Network Academy Program)<br>
                            • Cisco Certified Network Professional (Cisco Network Academy Program)<br>
                            • Cisco Certified Network Associated Security (Cisco Network Academy Program)<br>
                            • LINUX Professional Institute Level 1<br>
                            • LINUX Professional Institute Level 2<br>
                            • Rapidminer: Data Engineering and Machine Learning Professional Certification
                        </p>
                        </div>
                        <br>
                        

                </div>

                 <div class="col-lg-6 portfolio-single-image center" data-lightbox="gallery">
                        <div class="col-lg-10 offset-md-2">
                            <h4 class="eduhead1" align='left' style="color: rgb(255, 213, 28);">Experience</h4>
                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">1992-1993<br>
                                <p class="ex2" style="color: rgb(255, 230, 118);text-align:left;">Research and Development - Siam Commercial Bank, Head Office<br>
                                    <a class="col-lg-6 ps-lg-0" href="#block-modal-ticket" data-lightbox="inline" class="button button-3d button-mini button-rounded button-amber w-35">Responsibilities </a>
                                </p>
                                </div>
                                <br>

                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">2009-2013<br>
                                <p class="ex2" style="color: rgb(255, 230, 118);text-align:left;">Head of Computer Science Department - Faculty of Science, Chiang Mai University<br>
                                   <a class="col-lg-6 ps-lg-0" href="#block-modal-ticket2" data-lightbox="inline" class="button button-3d button-mini button-rounded button-amber w-35">Responsibilities </a>
                                </p>
                                </div>
                                <br>

                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">2015-present<br>
                                <p class="ex2" style="color: rgb(255, 230, 118);text-align:left;">Director - Centre of Excellence in Community Health informatics, Chiang Mai University<br>
                                    <a class="col-lg-6 ps-lg-0" href="#block-modal-ticket3" data-lightbox="inline" class="button button-3d button-mini button-rounded button-amber w-35">Responsibilities </a>
                                </p>
                                </div>
                                <br>

                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">2018-2021<br>
                                <p class="ex2" style="color: rgb(255, 230, 118);text-align:left;">Deputy Director - Chiang Mai University Service Center (Uniserv)<br>
                                    <a class="col-lg-6 ps-lg-0" href="#block-modal-ticket4" data-lightbox="inline" class="button button-3d button-mini button-rounded button-amber w-35">Responsibilities </a>
                                </p>
                                </div>
                                <br>

                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">2021-present</div>
                                <div class="ex2" style="color: rgb(255, 230, 118);text-align: left;">Deputy Dean of Graduate School - Chiang Mai University</div>
                                <br>
                                <div class="ex1" style="color: rgb(252, 217, 62);text-align: left;">2018-present</div>
                                <div class="ex2" style="color: rgb(255, 230, 118);text-align: left;">ECTI Technical Chair (Computers) - Electrical Engineering/Electronics, Computer, Telecommunications and
                                    Information Technology Association of Thailand (ECTI Thailand)</div>
                                <br>
                        </div>
                </div>

                

            </div>
        </div>

        <br>

        <div class="container center">
            <div class="row gutter-50">

                <div class="col-lg-5 portfolio-single-image center" data-lightbox="gallery">
                    <div class="col-lg-10 offset-md-2">
                        <h4 class="eduhead1" align='left' style="color: rgb(255, 213, 28);">Teaching Courses</h4>
                            <p class="tc1" style="font-size:18px;text-align:justify;color: rgb(255, 240, 172);">
                                    • Computer Graphics<br>
                                    • Image Processing<br>
                                    • Data Communications and Computer Network<br>
                                    • Database Management System<br>
                                    • Operating System<br>
                                    • Computer Security<br>
                                    • Parallel Processing<br>
                                    • Concurrent Programming<br>
                                    • Python Programming<br>
                                    • Certified of Information System Security Professional<br>
                                    • Certified Ethical Hacker
                    </p>
                    </div>
                </div>

                <div class="col-lg-4 portfolio-single-image center" data-lightbox="gallery">
                    <div class="col-lg-10 offset-md-2">
                        <h4 class="eduhead1" align='left' style="color: rgb(255, 213, 28);">Research</h4>
                    <p class="r1" style="font-size:18px;text-align:justify;color: rgb(255, 240, 172);">
                        Open Urban Data Project - Thailand Research Fund
                        Chiang Mai Community Health Project - Thai Health Promotion Foundation
                        International Research Network in Digital Image Processing and Machine Learning
                        Under Thailand Science Research and Innovation Fund
                    </p>
                    </div>
                </div>

                <div class="col-lg-3 portfolio-single-image center" data-lightbox="gallery">
                        <div class="col-lg-9 offset-md-3    ">
                            <h4 class="eduhead1" align='left' style="color: rgb(255, 213, 28);">Skills</h4>
                            <p class="s1" style="font-size:18px;text-align:justify;color: rgb(255, 240, 172);">
                                • LINUX<br>
                                • Java<br>
                                • Python<br>
                                • MySQL<br>
                                • MongoDB<br>
                                • RapidMiner
                            </p>
                        </div>
                </div>

                <!-- Portfolio Single Content
                    ============================================= -->
                <div class="col-lg-6 portfolio-single-image" data-lightbox="gallery">
                    
                </div>

            </div>
        </div>

    </div>
</section>

<div class="modal1 mfp-hide" id="block-modal-ticket">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-white rounded">

            <div class="row m-0 g-0">
                <div class="col-12 bg-light">
                    <div class="e101" style="color: rgb(0, 0, 0);text-align: left;">
                        <div style="font-weight: bold;font-size: 20px;">1992-1993<br>
                        Research and Development - Siam Commercial Bank, Head Office<br></div>
                        Responsibilities :<br>
                        • Looking for new technology for bank</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal1 mfp-hide" id="block-modal-ticket2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-white rounded">

            <div class="row m-0 g-0">
                <div class="col-12 bg-light">
                    <div class="e101" style="color: rgb(0, 0, 0);text-align: left;">
                        <div style="font-weight: bold;font-size: 20px;">2009-2013<br>
                        Head of Computer Science Department - Faculty of Science, Chiang Mai University<br></div>
                        Responsibilities :<br>
                        • Organized IEEE International Computer Science and Engineering Conference 2010<br>
                        • Organized National Olympiad Informatics 2011</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal1 mfp-hide" id="block-modal-ticket3">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-white rounded">

            <div class="row m-0 g-0">
                <div class="col-12 bg-light">
                    <div class="e101" style="color: rgb(0, 0, 0);text-align: left;">
                        <div style="font-weight: bold;font-size: 20px;">2015-present<br>
                        Director - Centre of Excellence in Community Health informatics, Chiang Mai University<br></div>
                        Responsibilities :<br>
                        • IEEE Xtreme Proctor <br>
                        • General Chair, Workshop on Internet Architecture and Applications (IA
                        2014)<br>
                        • General Chair, The 19st International Computer Science and Engineering
                        Conference 2015 (ICSEC 2015)<br>
                        • General Chair, The Sixth International Conference on Control Automation &
                        Information Sciences (ICCAIS 2017)<br>
                        • General Chair, The 22nd International Computer Science and Engineering
                        Conference 2018 (ICSEC 2018)<br>
                        • General Chair, The 11th Biomedical Engineering International Conference
                        2018 (BMEiCON 2018)<br>
                        • Data Science Session Chair, 2020 IEEE 17th International Conference on
                        Electrical Engineering/Electronics, Computer, Telecommunications and
                        Information Technology (ECTI-CON 2020)<br>
                        • Data Science Session Chair, 2021 IEEE 18th International Conference on
                        Electrical Engineering/Electronics, Computer, Telecommunications and
                        Information Technology (ECTI-CON 2021)<br>
                        • Vice General Co-Chairs of The 36th International Conference on Information
                        Networking (ICOIN 2022)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal1 mfp-hide" id="block-modal-ticket4">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-white rounded">

            <div class="row m-0 g-0">
                <div class="col-12 bg-light" >
                    <div class="e101" style="color: rgb(0, 0, 0);text-align: left;">
                        <div style="font-weight: bold;font-size: 20px;">2018-2021<br>
                        Deputy Director - Chiang Mai University Service Center (Uniserv<br></div>
                        Responsibilities :<br>
                        • Organized IEEE International Computer Science and Engineering Conference 2010<br>
                        • Organized National Olympiad Informatics 2011
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

