.oc-item{
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
}

.t0{
    color: rgb(255, 216, 43);
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-style: oblique;
    text-align: left;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.P2{
    color: rgb(255, 223, 82);
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-style: oblique;
    text-align: left;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.P3{
    color: rgb(253, 231, 131);
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-style: oblique;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.e101{
    background-color: rgb(250, 248, 246);
    padding: 5%;
    color: rgb(253, 231, 131);
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-style: oblique;
    text-align: left;
    border-radius: 5px;
    border-style: groove;
    border-width: 10px;
    border-color: darkgrey;
}

.hport{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.eduhead1{
    color: rgb(255, 213, 28);
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.ed1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.ed2{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.ex1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.ex2{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.c1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.tc1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.r1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}

.s1{
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black
}