                <!-- <div class="row " style="background: url('./assets/demos/writer/images/hero/editbookdoc1.jpg'); background-size: cover;  ">
                    <div class="col-md-7 offset-lg-4 b">
                            <br> <br>  <br>
							<h3 style="color: rgb(236, 160, 17);">student-table</h3>

							<table class="table table-hover " style="color: rgb(236, 162, 0); opacity: 90%;" >
							  <thead >
								<tr class="head" style="color:rgb(245, 188, 64); ">
								  <th>#</th>
								  <th>First Name</th>
								  <th>Last Name</th>
								  <th>Username</th>
                                  <th>Detail</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <td>1</td>
								  <td>Mark</td>
								  <td>Otto</td>
								  <td>@mdo</td>
                                  <td><a href="#" class="button button-3d button-mini button-rounded button-amber">Detail</a></td>
								</tr>
								<tr>
								  <td>2</td>
								  <td>Jacob</td>
								  <td>Thornton</td>
								  <td>@fat</td>
                                  <td><a href="#" class="button button-3d button-mini button-rounded button-amber">Detail</a></td>
								</tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td><a href="#" class="button button-3d button-mini button-rounded button-amber">Detail</a></td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td><a href="#" class="button button-3d button-mini button-rounded button-amber">Detail</a></td>
                                  </tr>
								<tr>
								  <td>3</td>
								  <td colspan="2">Larry the Bird</td>
								  <td>@twitter</td>
                                  
                                  <td><a href="#" class="button button-3d button-mini button-rounded button-amber">Detail</a></td>
								</tr>
							  </tbody>
							</table>
                            <br> <br> <br>

                    </div>
                </div>
                
                <style>
                    .table-hover{
                        background-color: rgb(248, 245, 240);
                    }
                </style> -->

<div id="section-student" >
                <section id="content" style="background-color: #1E232A;">
                    <div class="content-wrap min-vh-100 d-flex align-items-center" >
                        <div class="container clearfix">
        
                            <div class="row justify-content-center mb-5">
                                <div class="col-xl-6 col-lg-8 text-center">
                                    <h3 class="h1 fw-bold mb-3">Student Lists</h3>
                                </div>
                            </div>
        
                            <div class="row justify-content-center gutter-50 col-mb-30">
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\1.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Gordon Norman</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">CEO</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\2.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Miles Tone</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">CTO</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\3.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Max Conversion</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">CFO</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\1.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Jim Séchen</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">UX Designer</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\3.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Richard Tea</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">UI Designer</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\2.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Hanson Deck</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">Support</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\1.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Jim Séchen</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">UX Designer</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\3.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Richard Tea</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">UI Designer</h5>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-center p-3 border border-default bg-light rounded-3">
                                        <img src="assets\demos\articles\images\authors\2.jpg" alt="Author" class="rounded-circle me-3" width="64" height="64">
                                        <div>
                                            <h4 class="mb-0"><a class="text-dark" href="/student-detail">Hanson Deck</a></h4>
                                            <h5 class="text-muted mb-0 fw-normal">Support</h5>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                </section><!-- #content end -->
</div>               