.line1,
.double-line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 4rem 0;
	border-top: 1px solid #EEE;
}

.line2,.double-line{
    clear: both;
	position: relative;
	width: 100%;
	border-top: 1px solid #EEE;
    margin: 1rem 0;
}

.line3{
    border-bottom: 3px solid #EEE;
    margin: 4px 0 20px;
}