<section>
  <div class="content-wrap" style="transform: none">
    <div class="container clearfix" style="transform: none">
      <div class="row clearfix" style="transform: none">
        <!-- Posts Area
            ============================================= -->
        <div class="col-lg-12">
          <!-- Tab Menu
                ============================================= -->
          <nav class="navbar navbar-expand-lg navbar-light p-0">
            <h4 class="mb-0 pe-2 ls1 text-uppercase fw-bold">
              TECHNOLOGY NEWS
            </h4>
          </nav>

          <div class="line3 line-dark"></div>

          <!-- Tab Content
                ============================================= -->
          <div class="tab-content" id="nav-tabContent">
            <!-- Tab Content 1
                    ============================================= -->
            <div
              class="tab-pane fade show active"
              id="nav-outdoor"
              role="tabpanel"
              aria-labelledby="nav-outdoor-tab"
            >
              <div class="row col-mb-30 mb-0">
                <div class="col-lg-6">
                  <!-- Post Article -->
                  <div class="posts-md">
                    <div class="entry">
                      <div class="entry-image">
                        <a href="demo-news-single.html"
                          ><img
                            src="./assets/demos/news/images/posts/travel/Tesla.jpg"
                            alt="Image 3"
                        /></a>
                      </div>
                      <div class="entry-title nott">
                        <h3 class="mb-2">
                          <a href="https://www.gizchina.com/2021/11/12/tesla-smartphone-renders-appear-online-will-you-buy-it/"
                            >Tesla Smartphone Could Be a Game Changer</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li><span>By </span> <a href="#">EFE UDIN</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">1 Nov 2021</a>
                          </li>
                        </ul>
                      </div>
                      <div class="entry-content clearfix">
                        <p>
                          It is quite common to find technology companies
                          swapping from one area of interest to another. Xiaomi
                          started as an internet company but it is now a major
                          smartphone manufacturer. Google is an internet and
                          software giant but it now has its own Pixel
                          smartphones. Even manufacturing giants like Samsung
                          and Apple did not start off as mobile phone companies.
                          While Samsung’s first device was a television, Apple’s
                          first product was a computer. Chinese manufacturers
                          like Huawei and Xiaomi are now in the automobile
                          industry. So, why won’t Tesla, an automobile company
                          produce its own smartphones?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="posts-sm row col-mb-30">
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="./assets/demos/news/images/posts/travel/small/1.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4>
                              <a href="demo-news-single.html"
                                >Rules not to Follow about Travel</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="./assets/demos/news/images/posts/travel/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4>
                              <a href="demo-news-single.html"
                                >Can You Pass The Travel Test?</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="./assets/demos/news/images/posts/travel/small/4.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4>
                              <a href="demo-news-single.html"
                                >Cheaper/Faster Travel than You Ever Imagined</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="./assets/demos/news/images/posts/fashion/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4>
                              <a href="demo-news-single.html"
                                >Believe In Your Travel Skills But Never Stop
                                Improving</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="./assets/demos/news/images/posts/market/small/3.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4>
                              <a href="demo-news-single.html"
                                >Why Most People Will Never Be Great At
                                Travel</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Content 2
                    ============================================= -->
            <div
              class="tab-pane fade"
              id="nav-food"
              role="tabpanel"
              aria-labelledby="nav-food-tab"
            >
              <div class="row col-mb-30 mb-0">
                <div class="col-lg-6">
                  <!-- Post Article -->
                  <div class="posts-md">
                    <div class="entry">
                      <div class="entry-image">
                        <a href="demo-news-single.html"
                          ><img
                            src="demos/news/images/posts/food/1.jpg"
                            alt="Image 3"
                        /></a>
                        <div class="entry-categories">
                          <a href="#" class="bg-food">Food</a>
                        </div>
                      </div>
                      <div class="entry-title nott">
                        <h3 class="mb-2">
                          <a href="demo-news-single.html"
                            >The Secret To Food eat lunch Is Revealed</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li><span>by</span> <a href="#">John Doe</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">11 Mar 2021</a>
                          </li>
                        </ul>
                      </div>
                      <div class="entry-content font-secondary clearfix">
                        <p>
                          Asperiores, tenetur, blanditiis, quaerat odit ex
                          exercitationem pariatur quibusdam veritatis quisquam
                          laboriosam esse beatae hic perferendis. Lorem ipsum
                          dolor sit amet.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <!-- Post Article -->
                  <div class="posts-sm row col-mb-30">
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/food/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >How To Turn Food eat lunch Into Success</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/food/small/3.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >MIT's new robot glove can give you extra
                                fingers.</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/food/small/4.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >Use Food to make Someone fall in Love With
                                You</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/lifestyle/small/1.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >3 Ways To Have (A) More Appealing food</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center g-0">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/lifestyle/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >Lifestyle Your Way to Success</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Content 3
                    ============================================= -->
            <div
              class="tab-pane fade"
              id="nav-fashion"
              role="tabpanel"
              aria-labelledby="nav-fashion-tab"
            >
              <div class="row col-mb-30 mb-0">
                <div class="col-lg-6">
                  <!-- Post Article -->
                  <div class="posts-md">
                    <div class="entry">
                      <div class="entry-image">
                        <a href="demo-news-single.html"
                          ><img
                            src="demos/news/images/posts/fashion/1.jpg"
                            alt="Image 3"
                        /></a>
                        <div class="entry-categories">
                          <a href="demo-news-category.html" class="bg-fashion"
                            >Fashion</a
                          >
                        </div>
                      </div>
                      <div class="entry-title nott">
                        <h3 class="mb-2">
                          <a href="demo-news-single.html"
                            >The Biggest Lie In Fashion</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta">
                        <ul>
                          <li><span>by</span> <a href="#">John Doe</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">11 Mar 2021</a>
                          </li>
                        </ul>
                      </div>
                      <div class="entry-content clearfix">
                        <p>
                          Asperiores, tenetur, blanditiis, quaerat odit ex
                          exercitationem pariatur quibusdam veritatis quisquam
                          laboriosam esse beatae hic perferendis. Lorem ipsum
                          dolor sit amet.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <!-- Post Article -->
                  <div class="posts-sm row col-mb-30">
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center no-gutter">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/fashion/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >Top 10 Tips To Grow Your Fashion</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center no-gutter">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/fashion/small/3.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >4 Ways You Can Grow Your Creativity Using
                                Fashion</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center no-gutter">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/fashion/small/4.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >5 Best Ways To Sell Fashion</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center no-gutter">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/lifestyle/small/2.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >What Make Fashion Don't Want You To Know</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post Article -->
                    <div class="entry col-12">
                      <div class="grid-inner row align-items-center no-gutter">
                        <div class="col-auto">
                          <div class="entry-image">
                            <a href="demo-news-single.html"
                              ><img
                                src="demos/news/images/posts/lifestyle/small/3.jpg"
                                alt="Image"
                            /></a>
                          </div>
                        </div>
                        <div class="col ps-3">
                          <div class="entry-title">
                            <h4 class="fw-semibold">
                              <a href="demo-news-single.html"
                                >Best Fashion Android/iPhone Apps</a
                              >
                            </h4>
                          </div>
                          <div class="entry-meta">
                            <ul>
                              <li><span>by</span> <a href="#">John Doe</a></li>
                              <li>
                                <i class="icon-time"></i
                                ><a href="#">11 Mar 2021</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab End -->
        </div>

        <!-- Top Sidebar Area
            ============================================= -->
        <div
          class="col-lg-4 sticky-sidebar-wrap mt-5 mt-lg-0"
          style="
            position: relative;
            overflow: visible;
            box-sizing: border-box;
            min-height: 1px;
          "
        >
          <div
            class="scwStickySidebar"
            style="
              padding-top: 0px;
              padding-bottom: 1px;
              position: static;
              transform: none;
              top: 0px;
            "
          >
            <div class="sticky-sidebar">
              <!-- Sidebar Widget 1
                    ============================================= -->
              <!-- Sidebar Widget 2
                    ============================================= -->
              <!-- Sidebar Widget 3
                    ============================================= -->
            </div>
            <div
              class="resize-sensor"
              style="
                position: absolute;
                inset: 0px;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                class="resize-sensor-expand"
                style="
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  overflow: hidden;
                  z-index: -1;
                  visibility: hidden;
                "
              >
                <div
                  style="
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    transition: all 0s ease 0s;
                    width: 450px;
                    height: 1534px;
                  "
                ></div>
              </div>
              <div
                class="resize-sensor-shrink"
                style="
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  overflow: hidden;
                  z-index: -1;
                  visibility: hidden;
                "
              >
                <div
                  style="
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0s;
                    width: 200%;
                    height: 200%;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sidebar End -->
      </div>
    </div>
    <!-- Container End -->

    <!-- Fullwidth Carousel
    ============================================= -->
    <div class="section bg-transparent m-0">
      <div class="container clearfix">
        <h4 class="mb-3 ls1 text-uppercase fw-bold">Popular News</h4><div class="line3 line-dark"></div>

        <!-- Owl Carousel
            ============================================= -->

        <div
          id="oc-news"
          class="
            owl-carousel
            fixed-nav
            top-nav
            carousel-widget
            posts-md
            customjs
            owl-loaded owl-drag
          "
        >
          <!-- Post Article -->

          <!-- Post Article -->

          <!-- Post Article -->

          <!-- Post Article -->

          <!-- Post Article -->

          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(0px, 0px, 0px);
                transition: all 0s ease 0s;
                width: 2194px;
              "
            >
              <div
                class="owl-item active"
                style="width: 418.667px; margin-right: 20px"
              >
                <div
                  class="entry mb-0"
                  style="
                    background: url('./assets/demos/news/images/posts/fashion/1.jpg')
                      center center;
                    background-size: cover;
                    height: 400px;
                  "
                >
                  <div class="bg-overlay">
                    <div
                      class="
                        bg-overlay-content
                        text-overlay-mask
                        dark
                        desc-sm
                        align-items-end
                        justify-content-start
                        p-4
                      "
                    >
                      <div class="entry-title nott">
                        <h3 class="fw-semibold mb-2">
                          <a href="#" class="text-light"
                            >The Ultimate Guide To Fashion</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta no-separator">
                        <ul>
                          <li><span>by</span> <a href="#">John Doe</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">11 Mar 2021</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 418.667px; margin-right: 20px"
              >
                <div
                  class="entry mb-0"
                  style="
                    background: url('./assets/demos/news/images/posts/sports/1.jpg')
                      center center;
                    background-size: cover;
                    height: 400px;
                  "
                >
                  <div class="bg-overlay">
                    <div
                      class="
                        bg-overlay-content
                        text-overlay-mask
                        dark
                        desc-sm
                        align-items-end
                        justify-content-start
                        p-4
                      "
                    >
                      <div class="entry-title nott">
                        <h3 class="fw-semibold mb-2">
                          <a href="#" class="text-light"
                            >The Sports Strategies For Beginners</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta no-separator">
                        <ul>
                          <li><span>by</span> <a href="#">John Doe</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">11 Mar 2021</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 418.667px; margin-right: 20px"
              >
                <div
                  class="entry mb-0"
                  style="
                    background: url('./assets/demos/news/images/posts/food/1.jpg')
                      center center;
                    background-size: cover;
                    height: 400px;
                  "
                >
                  <div class="bg-overlay">
                    <div
                      class="
                        bg-overlay-content
                        text-overlay-mask
                        dark
                        desc-sm
                        align-items-end
                        justify-content-start
                        p-4
                      "
                    >
                      <div class="entry-title nott">
                        <h3 class="fw-semibold mb-2">
                          <a href="#" class="text-light"
                            >2 Things You Must Know About you Cafe</a
                          >
                        </h3>
                      </div>
                      <div class="entry-meta no-separator">
                        <ul>
                          <li><span>by</span> <a href="#">John Doe</a></li>
                          <li>
                            <i class="icon-time"></i><a href="#">11 Mar 2021</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 418.667px; margin-right: 20px"
              >
                <div
                  class="entry mb-0"
                  style="
                    background: url('./assets/demos/news/images/posts/fashion/2.jpg')
                      center center;
                    background-size: cover;
                    height: 400px;
                  "
                >
                  <div class="bg-overlay">
                    <div
                      class="
                        bg-overlay-content
                        text-overlay-mask
                        dark
                        desc-sm
                        align-items-end
                        justify-content-start
                        p-4
                      "
                    >
                      <div class="position-relative w-100">
                        <div class="entry-categories">
                          <a href="demo-news-category.html" class="bg-fashion"
                            >Fashion</a
                          >
                        </div>
                        <div class="entry-title nott">
                          <h3 class="fw-semibold mb-2">
                            <a href="#" class="text-light"
                              >The Truth About Fashion In 3 Minutes</a
                            >
                          </h3>
                        </div>
                        <div class="entry-meta no-separator">
                          <ul>
                            <li><span>by</span> <a href="#">John Doe</a></li>
                            <li>
                              <i class="icon-time"></i
                              ><a href="#">11 Mar 2021</a>
                            </li>
                          </ul>
                        </div>
                        <ul class="entry-icons d-none d-sm-block">
                          <li><a href="#" class="icon-bookmark-empty"></a></li>
                          <li>
                            <a href="#" class="icon-heart-empty"
                              ><span>18</span></a
                            >
                          </li>
                          <li>
                            <a href="#" class="icon-comment-alt"
                              ><span>3</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 418.667px; margin-right: 20px"
              >
                <div
                  class="entry mb-0"
                  style="
                    background: url('./assets/demos/news/images/posts/market/1.jpg')
                      center center;
                    background-size: cover;
                    height: 400px;
                  "
                >
                  <div class="bg-overlay">
                    <div
                      class="
                        bg-overlay-content
                        text-overlay-mask
                        dark
                        desc-sm
                        align-items-end
                        justify-content-start
                        p-4
                      "
                    >
                      <div class="position-relative w-100">
                        <div class="entry-categories">
                          <a href="demo-news-category.html" class="bg-market"
                            >Market</a
                          >
                        </div>
                        <div class="entry-title nott">
                          <h3 class="fw-semibold mb-2">
                            <a href="#" class="text-light"
                              >The Hidden Mystery Behind market</a
                            >
                          </h3>
                        </div>
                        <div class="entry-meta no-separator">
                          <ul>
                            <li><span>by</span> <a href="#">John Doe</a></li>
                            <li>
                              <i class="icon-time"></i
                              ><a href="#">11 Mar 2021</a>
                            </li>
                          </ul>
                        </div>
                        <ul class="entry-icons d-none d-sm-block">
                          <li><a href="#" class="icon-bookmark-empty"></a></li>
                          <li>
                            <a href="#" class="icon-heart-empty"
                              ><span>18</span></a
                            >
                          </li>
                          <li>
                            <a href="#" class="icon-comment-alt"
                              ><span>3</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel End -->
      </div>
    </div>
    <!-- Container End -->
    <div class="container clearfix" style="transform: none">
      <!-- test -->
      <div class="widget clearfix">
        <h4 class="mb-2 ls1 text-uppercase fw-bold">Recent Trailers</h4>
        <div class="line3 line-dark"></div>

        <div
          class="
            owl-carousel
            fixed-nav
            carousel-widget
            posts-md
            owl-loaded owl-drag
          "
          data-margin="0"
          data-nav="true"
          data-pagi="false"
          data-items="1"
        >
          <!-- Post Article -->

          <!-- Post Article -->

          <!-- Post Article -->

          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(0px, 0px, 0px);
                transition: all 0s ease 0s;
                width: 1248px;
              "
            >
              <div class="owl-item active" style="width: 415.987px">
                <div class="entry">
                  <div class="entry-image mb-3">
                    <div class="fluid-width-video-wrapper">
                      <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/bexdRUnUo-0"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                  <div class="entry-title title-sm nott">
                    <h3 class="mb-0">
                      <a
                        >The Most Realistic Robot Humanoid | Nanochip for
                        Programming Living Matter | Technology News</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 415.987px">
                <div class="entry">
                  <div class="entry-image mb-3">
                    <div class="fluid-width-video-wrapper">
                      <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Eh1w6guPC8"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                  <div class="entry-title title-sm nott">
                    <h3 class="mb-0">
                      <a
                        >What can Google's army of robots do?| Physicists have
                        turned back time | High Tech News</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 415.987px">
                <div class="entry">
                  <div class="entry-image mb-3">
                    <div class="fluid-width-video-wrapper">
                      <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/QD7EvkW1MMY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                  <div class="entry-title title-sm nott">
                    <h3 class="mb-0">
                      <a href="#"
                        >Magic Leap's New AR Headset Will Debut in 2022</a
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
