<section id="section-gallery-detail" class="center page-section" style="background: linear-gradient(to bottom, #1E232A, transparent, #1E232A), url('./assets/demos/teacher/background/n1.webp') no-repeat center top / cover;">
    <div class="content-wrap">
        <div class="container clearfix">
					
                    <h3 class="w">work</h3>

					<div class="masonry-thumbs grid-container grid-5" data-big="1" data-lightbox="gallery">
						<a class="grid-item" href="./assets/demos/teacher/works/work1.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work1.webp" alt="Gallery Thumb 1"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work11.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work11.webp" alt="Gallery Thumb 2"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work12.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work12.webp" alt="Gallery Thumb 3"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work4.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work4.webp" alt="Gallery Thumb 4"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work5.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work5.webp" alt="Gallery Thumb 5"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work6.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work6.webp" alt="Gallery Thumb 6"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work7.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work7.webp" alt="Gallery Thumb 7"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work8.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work8.webp" alt="Gallery Thumb 9"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work9.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work9.webp" alt="Gallery Thumb 10"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work10.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work10.webp" alt="Gallery Thumb 14"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work2.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work2.webp" alt="Gallery Thumb 12"></a>
						<a class="grid-item" href="./assets/demos/teacher/works/work3.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/works/work3.webp" alt="Gallery Thumb 13"></a>
					</div>
                    <br><br>
                    <h3 class="f">family</h3>

					<div class="masonry-thumbs grid-container grid-5" data-big="1" data-lightbox="gallery">
						<a class="grid-item" href="./assets/demos/teacher/familys/f1.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f1.webp" alt="Gallery Thumb 1"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f2.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f2.webp" alt="Gallery Thumb 2"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f3.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f3.webp" alt="Gallery Thumb 3"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f4.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f4.webp" alt="Gallery Thumb 4"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f5.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f5.webp" alt="Gallery Thumb 5"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f6.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f6.webp" alt="Gallery Thumb 6"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f7.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f7.webp" alt="Gallery Thumb 7"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f8.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f8.webp" alt="Gallery Thumb 9"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f9.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f9.webp" alt="Gallery Thumb 10"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f10.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f10.webp" alt="Gallery Thumb 14"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f11.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f11.webp" alt="Gallery Thumb 12"></a>
						<a class="grid-item" href="./assets/demos/teacher/familys/f12.webp" data-lightbox="gallery-item"><img src="./assets/demos/teacher/familys/f12.webp" alt="Gallery Thumb 13"></a>
					</div>

        </div>
    </div>
</section>