.w{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 25px;
    font-style: oblique;
    color: rgb(255, 213, 28);
}

.f{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(255, 213, 28);
}