
<section id="content">
    <div style="background-color: #1E232A;;">
        <div class="section-negetive mx-auto" style="max-width: 1000px; transform: translateY(-50px);">
            <div id="section-contact" class="card-block-wrap g-0 row align-items-stretch bg-white" style="border-radius: 20px; box-shadow: 0 10px 80px rgba(14,72,119, 0.2)">
                <div class="col-md-12 card-block" style="padding: 80px 70px;">     
                    <!-- <h5 class="ls3 text-uppercase fw-normal text-black-50 mb-3">Purpose</h5> -->
                    <h3 class="display-4 fw-bold font-secondary"style="color: #084678; text-align:center;">Contact US</h3>
                </div>
                <div class="row col-mb-50">
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-map-marker2"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-phone3"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-facebook-square"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Make a Video Call<span class="subtitle">CanvasOnSkype</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




