.block-portfolio-single .portfolio-single-content h2 {
    font-size: 1.75rem;
}

@media (min-width: 992px) {
    .content-wrap { overflow: inherit; }

    .portfolio-single-content.content-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        height: 100%;
    }

    .portfolio-meta {
        font-size: .925rem;
    }

    .portfolio-meta li {
        margin-bottom: 14px
    }
}