
<div id="wrapper">
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row gutter-50">

                <!-- Portfolio Single Image
                ============================================= -->
                <div class="col-lg-7 portfolio-single-image" data-lightbox="gallery">
                    <div class="row col-mb-30">
                        <a href="assets\images\blocks\preview\portfolio-single\1.jpg" class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\images\blocks\preview\portfolio-single\1.jpg" alt="Image 1"></a>
                        <a href="assets\images\blocks\preview\portfolio-single\2.jpg" class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\images\blocks\preview\portfolio-single\2.jpg" alt="Image 2"></a>
                        <a href="assets\images\blocks\preview\portfolio-single\3.jpg" class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\images\blocks\preview\portfolio-single\3.jpg" alt="Image 3"></a>
                        <a href="assets\images\blocks\preview\portfolio-single\4.jpg" class="col-lg-12 col-md-6" data-lightbox="gallery-item"><img src="assets\images\blocks\preview\portfolio-single\4.jpg" alt="Image 4"></a>
                    </div>
                </div><!-- .portfolio-single-image end -->

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col-lg-5 portfolio-single-content content-sticky">
                    <br>
                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <h2>Your Favourite Coffee Mug</h2>
                    <p class="op-07">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolores, facere, corrupti delectus ex quidem adipisci tempore.<br><br>
                    Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque?</p>
                    <!-- Portfolio Single - Description End -->

                    <div class="line my-5"></div>

                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <ul class="portfolio-meta bottommargin">
                        <li><span><i class="icon-user"></i>Created by:</span> John Doe</li>
                        <li><span><i class="icon-calendar3"></i>Completed on:</span> 17th March 2021</li>
                        <li><span><i class="icon-lightbulb"></i>Skills:</span> HTML5 / PHP / CSS3</li>
                        <li><span><i class="icon-link"></i>Client:</span> <a href="#">Google</a></li>
                    </ul>
                    <!-- Portfolio Single - Meta End -->

                    <div class="line my-5"></div>

                    <!-- Portfolio Single - Share
                    ============================================= -->
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Share:</span>
                        <div>
                            <a href="#" class="social-icon si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-light si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>


