
<div id="section-perfomance"></div>
    <!-- Content
    ============================================= -->
    <section id="content" >
        <div class="content-wrap pt-0 bg-light" >
            <div class="container clearfix " >

                <!-- Entry Image
                ============================================= -->
                <div class=" align-wide-full min-vh-50 d-flex align-items-center justify-content-center px-5" style="background: url('./assets/demos/writer/images/hero/editbook1.webp') no-repeat center center / cover;">

                    <div class="p-4 bg-white position-relative rounded text-sm-center mw-xs">

                        <!-- Entry Title
                        ============================================= -->
                        <h2 class="mb-3" style="color: rgb(235, 177, 53);">This is a Perfomance of DR.EKKARAT BOONCHIENG</h2>

                        <!-- Entry Meta
                        ============================================= -->
                        <div class="d-flex justify-content-center">
                            <div class="entry-meta mb-0 pb-3">
                                <ul>
                                    <!-- <li><i class="icon-calendar3"></i> 10th July 2021</li> -->
                                    <li><a href="#section-about"><i class="icon-user" ></i> DR.EKKARAT BOONCHIENG</a></li>
                                    <!-- <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li> -->
                                </ul>
                            </div><!-- .entry-meta end -->
                        </div>

                    </div>
                </div>

                <div class="single-post mw-xs mx-auto ">

                    <!-- Single Post
                    ============================================= -->
                    <div class="entry clearfix">

                        <div class="clear"></div>

                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content mt-3">
                            
                            <h4>Kannikar Intawong, Waraporn Boonchieng, Peerasak Lerttrakarnnon,Ekkarat Boonchieng and Kitti Puritat </h4>
                            <p> A-SA SOS: A Mobile- and IoT-based Pre-hospital Emergency Service for the Elderly and Village Health Volunteers. International Journal of Advanced Computer Science and Applications(IJACSA), 12(4), 2021. doi: 10.14569/IJACSA.2021.0120465.</p>
                            <h4>W. Boonchieng, J. Chaiwan, B. Shrestha, M. Shrestha, A. J. O. Dede and E. Boonchieng</h4><p>"mHealth Technology Translation in a Limited Resources Community—Process, Challenges, and Lessons Learned From a Limited Resources Community of Chiang Mai Province, Thailand," in IEEE Journal of Translational Engineering in Health and Medicine, vol. 9, pp. 1-8, 2021, Art no. 3700108, doi: 10.1109/JTEHM.2021.3055069.</p>
                            <div data-readmore="true" data-readmore-trigger-open="Read More <i class='icon-angle-down'></i>" data-readmore-trigger-close="Read Less <i class='icon-angle-up'></i>">
                            <h4>Pikulkaew K., Boonchieng E., Boonchieng W., Chouvatut V.</h4><p>(2021) Pain Detection Using Deep Learning with Evaluation System. In: Yang XS., Sherratt S., Dey N., Joshi A. (eds) Proceedings of Fifth International Congress on Information and Communication Technology. Advances in Intelligent Systems and Computing, vol 1184. Springer, Singapore. doi: 10.1007/978-981-15-5859-7_42.</p>
                            <h4>Sirinan Yimkosol, Wanchai Lertwatthanawilat, Ekkarat Boonchieng, Waraporn Boonchieng,</h4><p>“Development of Smartphone Application in Preventing Infection for Caregivers of Children with Cancer Receiving Chemotherapy”, Nursing Journal volume 47 No.3 July-September 2020.</p>
                            <h4>Varin Chouvatut, Ekkarat Boonchieng and Waraporn Boonchieng,</h4><p>“Clustering of Domestic Locations in Layers for the Purpose of Breakout Prevention of Diseases”, Journal of Internet Technology, Vol. 21 (2020) No. 6, pp. 1693-1699. doi: 10.3966/160792642020112106011.</p>
                            <h4>W. Nadda, W. Boonchieng and E. Boonchieng,</h4><p>"Dengue Fever Detection using Long Short-term Memory Neural Network," 2020 17th International Conference on Electrical Engineering/Electronics, Computer, Telecommunications and Information Technology (ECTI-CON), Phuket, Thailand, 2020, pp. 755-758. doi: 10.1109/ECTI-CON49241.2020.9158315.</p>
                            <h4>W. Phiwkhom, P. Chiawkhun, W. Boonchieng, N. Nakharutai and E. Boonchieng, </h4><p>"Comparison of Spatial Socioeconomic and Health Clustering Population in Chiang Mai Province," 2020 17th International Conference on Electrical Engineering/Electronics, Computer, Telecommunications and Information Technology (ECTI-CON), Phuket, Thailand, 2020, pp. 751-754. doi: 10.1109/ECTI-CON49241.2020.9158225.</p>
                            <h4>Waraporn Boonchieng, Saowaluck Settheekul, Warunee Fongkaew, Varin Chouvatut, Ekkarat Boonchieng.</h4><p>(2020). Development of a Web-based Sexual Risk Behavior Prevention Database with the Benefit of 4G LTE by Using Community Participation. Journal of Internet Technology, Volume 21 (2020) No.2, 543-554. doi: 10.3966/160792642020032102022.</p>
                            <h4>Wongthawat Liawrungrueang, Tuanrit Sornsa-ard, Ekkarat Boonchieng.</h4><p>(2020). Bilateral pure facet joint dislocation in thoracolumbar junction (T11–T12) without facet fracture using a 3D digital printing model for surgical planning: A case report. Trauma Case Reports, vol. 25, 1-5. doi: 10.1016/j.tcr.2019.100273.</p>
                            <h4>P. Kasemsumran and E. Boonchieng,</h4><p>"EEG- Based Motor Imagery Classification Using Novel String Grammar Fuzzy K-Nearest Neighbor Techniques with One Prototype in Each of Classes," 2020 International Conference on Artificial Intelligence in Information and Communication (ICAIIC), Fukuoka, Japan, 2020, pp. 742-745. doi: 10.1109/ICAIIC48513.2020.9065236.</p>
                            <h4>Kornprom Pikulkaew, Ekkarat Boonchieng, Waraporn Boonchieng, Varin Chouvatut.</h4><p>(2019). Network-Simulated Generation of Human Faces with Expressions and Orientations for Deep Learning Classification, International Journal of Innovative Technology and Exploring Engineering (IJITEE), vol. 9, pp. 2178-2185. doi: 10.35940/ijitee.B7491.129219.</p>
                            <h4>W. Nadda, W. Boonchieng and E. Boonchieng,</h4><p>"Weighted Extreme Learning Machine for Dengue Detection with Class-imbalance Classification," 2019 IEEE Healthcare Innovations and Point of Care Technologies, (HI-POCT), Bethesda, MD, USA, 2019, pp. 151-154. doi: 10.1109/HI-POCT45284.2019.8962825.</p>
                            <h4>Wesson PHIWKHOM and Ekkarat BOONCHIENG.</h4><p>(2019). Time Series Forecasting Number of Dengue Patients using Simple Seasonal Exponential Smoothing Method. IEICE Technical Report, vol. 38, no. 11, 63-64.                            </p>
                            <h4>Wanchaloem Nadda, Waraporn Boonchieng and Ekkarat Boonchieng.</h4><p>(2019). Information Retrieval with Natural Language Processing for Disease Detection using Wikipedia Database. IEICE Technical Report, vol. 38, no. 11, 65-66.</p>
                            <h4>Payongkit Lakhan, Nannapas Banluesombatkul, Vongsagon Changniam, Ratwade Dhithijaiyratn,Pitshaporn Leelaarporn, Ekkarat Boonchieng, Supanida Hompoonsup and Theerawit Wilaiprasitporn.,</h4><p>"Consumer Grade Brain Sensing for Emotion Recognition," in IEEE Sensors Journal, vol. 19, no. 21, pp. 9896-9907, 1 Nov.1, 2019. doi: 10.1109/JSEN.2019.2928781.</p>
                            <h4>Ekkarat Boonchieng, Anukit Saokaew, Oran Chieocha.</h4><p>(2019). The Prototype of the Integration between Low Cost Single Private LoRa Gateway and Public AIS NB-IOT. Journal of Internet Technology Volume 20, No.4, 1313-1322. doi: 10.3966/160792642019072004030.</p>
                            <h4>Varin Chouvatut, Ekkarat Boonchieng.</h4><p>(2019). Characteristics of Basil in Aspects of Digital Information Retrieval and Data Mining. Journal of Internet Technology Volume 20 (2019) No.3, 983-997. doi: 10.3966/160792642019052003030.</p>
                            <h4>Ekkarat Boonchieng, Varin Chouvatut.</h4><p>(2018). Analysis from Image Processing of Wildfire Area for a Long-Term Protection Plan. Journal of Computers, Vol. 30 No. 2, 2019, 126-134. doi:10.3966/199115992019043002011.</p>
                            <h4>Payungsak Kasemsumran, Ekkarat Boonchieng.</h4><p>(2019). EEG-based Motor Imagery Classification Using Novel Adaptive Threshold Feature Extraction and String Grammar Fuzzy K-Nearest Neighbor Classification. Journal of Computers, Vol. 30 No. 2, 27-40. doi:10.3966/199115992019043002003.</p>
                            <h4>K. Pikulkaew, V. Chouvatut and E. Boonchieng,</h4><p>"Vocabulary Practicing from Assisting Techniques in Three Dimensional Animation with User Interaction," 2018 22nd International Computer Science and Engineering Conference (ICSEC), Chiang Mai, Thailand, 2018, pp. 1-5. doi: 10.1109/ICSEC.2018.8712694.</p>
                            <h4>A. Saokaew, O. Chieochan and E. Boonchieng,</h4><p>"A smart photovoltaic system with Internet of Thing: A case study of the smart agricultural greenhouse," 2018 10th International Conference on Knowledge and Smart Technology (KST), Chiang Mai, 2018, pp. 225-230. doi: 10.1109/KST.2018.8426071.</p>
                            <h4>Ekkarat BOONCHIENG, Oran CHIEOCHAN, and Anukit SAOKAEW.</h4><p>(JANUARY 2018). Smart Farm: Applying the Use of NodeMCU, IOT, NETPIE and LINE API for a Lingzhi Mushroom Farm in Thailand. IEICE TRANS. COMMUN., VOL.E101–B, NO.1, 16-23. doi: 10.1587/transcom.2017ITI0002.</p>
                            <h4>W. Boonchieng, E. Boonchieng, W. Tuanrat, C. Khuntichot and K. Duangchaemkarn,</h4><p>"Integrative system of virtual electronic health record with online community-based health determinant data for home care service: MHealth development and usability test," 2017 IEEE Healthcare Innovations and Point of Care Technologies (HI-POCT), Bethesda, MD, 2017, pp. 5-8. doi: 10.1109/HIC.2017.8227571.</p>
                            <h4>O. Chieochan, A. Saokaew and E. Boonchieng,</h4><p>"Internet of things (IOT) for smart solar energy: A case study of the smart farm at Maejo University," 2017 International Conference on Control, Automation and Information Sciences (ICCAIS), Chiang Mai, 2017, pp. 262-267. doi: 10.1109/ICCAIS.2017.8217588.</p>
                            <h4>V. Chouvatut and E. Boonchieng,</h4><p>"Brain tumor's approximate correspondence and area with interior holes filled," 2017 14th International Joint Conference on Computer Science and Software Engineering (JCSSE), Nakhon Si Thammarat, 2017, pp. 1-5. doi: 10.1109/JCSSE.2017.8025957.</p>
                            <h4>V. Chouvatut and E. Boonchieng,</h4><p>"Graphical representation of the whole sequentially MRI images in a single view image sequences of human's whole head," 2017 14th International Joint Conference on Computer Science and Software Engineering (JCSSE), Nakhon Si Thammarat, 2017, pp. 1-6. doi: 10.1109/JCSSE.2017.8025941.</p>
                            <h4>O. Chieochan, A. Saokaew and E. Boonchieng, </h4><p>"IOT for smart farm: A case study of the Lingzhi mushroom farm at Maejo University," 2017 14th International Joint Conference on Computer Science and Software Engineering (JCSSE), Nakhon Si Thammarat, 2017, pp. 1-6. doi: 10.1109/JCSSE.2017.8025904.</p>
                            <h4>K. Duangchaemkarn, V. Chaovatut, P. Wiwatanadate and E. Boonchieng,</h4><p>"Symptom-based data preprocessing for the detection of disease outbreak," 2017 39th Annual International Conference of the IEEE Engineering in Medicine and Biology Society (EMBC), Seogwipo, 2017, pp. 2614-2617. doi: 10.1109/EMBC.2017.8037393.</p>
                            <h4>O. Chieochan, A. SaoKaew and E. Boonchieng</h4><p>"An integrated system of applying the use of Internet of Things, RFID and cloud computing: A case study of logistic management of Electricity Generation Authority of Thailand (EGAT) Mae Mao Lignite Coal Mining, Lampang, Thailand," 2017 9th International Conference on Knowledge and Smart Technology (KST), Chonburi, 2017, pp. 156-161. doi: 10.1109/KST.2017.7886126.</p>
                            <h4>Varin Chouvatut and Ekkarat Boonchieng.</h4><p>(2016). Radiographic Image Enhancement Using Hybrid Algorithm, Jurnal Teknologi, 78:6-7, pp. 89-93. doi: 10.11113/jt.v78.9089.</p>
                            <h4>C. Ongkum, K. Keawmitr and E. Boonchieng,</h4><p>"Analysis system for urine strip test using image processing technique," 2016 9th Biomedical Engineering International Conference (BMEiCON), Laung Prabang, 2016, pp. 1-5. doi: 10.1109/BMEiCON.2016.7859610.</p>
                            <h4>P. Khunsongkiet and E. Boonchieng,</h4><p>"Converting air quality monitoring low cost sensor data to digital value via mobile interface," 2016 9th Biomedical Engineering International Conference (BMEiCON), Laung Prabang, 2016, pp. 1-5. doi: 10.1109/BMEiCON.2016.7859628.</p>
                            <h4>W Boonchieng, E Boonchieng, S Aungwatana, W Tuanrat.</h4><p>(2016). Saraphi Home Care: mHealth for Bed-Ridden Patient in Saraphi District, Chiang Mai Province. International Journal of Evidence-Based Healthcare 14, S4. doi: 10.1097/01.XEB.0000511614.32133.9f.</p>
                            <h4>P Khunsongkiet, E Boonchieng.</h4><p>(2016). Using Blocking Buffer Method Architecture to Transfer Air Quality Parameter via Mobile Phone. IEICE Technical Report, 116 (282), 133-136.</p>
                            <h4>C Ongkum, E Boonchieng.</h4><p>(2016). Remote Autograph via Smartphone. IEICE Technical Report, 116 (282), 113-116.</p>
                            <h4>K Duangchaemkarn, E Boonchieng.</h4><p>(2016). Digital Disease Detection: a New Approach for Early Warning of Outbreak Using Infodemiology. IEICE Technical Report, 116 (282), 117-119.</p>
                            <h4>E. Boonchieng and K. Duangchaemkarn,</h4><p>"Digital disease detection: Application of machine learning in community health informatics," 2016 13th International Joint Conference on Computer Science and Software Engineering (JCSSE), Khon Kaen, 2016, pp. 1-5. doi: 10.1109/JCSSE.2016.7748841.</p>
                            <h4>V. Chouvatut, W. Jindaluang, E. Boonchieng and T. Rukkanchanunt,</h4><p>"Efficiency comparisons between k-centers and k-means algorithms," 2015 International Computer Science and Engineering Conference (ICSEC), Chiang Mai, 2015, pp. 1-6. doi: 10.1109/ICSEC.2015.7401434.</p>
                            <h4>C. Mahatthanachai, K. Malaivongs, N. Tantranont and E. Boonchieng,</h4><p>"Development of thai word segmentation technique for solving problems with unknown words," 2015 International Computer Science and Engineering Conference (ICSEC), Chiang Mai, 2015, pp. 1-6. doi: 10.1109/ICSEC.2015.7401423.</p>
                            <h4>V. Chouvatut, W. Jindaluang and E. Boonchieng,</h4><p>"Training set size reduction in large dataset problems," 2015 International Computer Science and Engineering Conference (ICSEC), Chiang Mai, 2015, pp. 1-5. doi: 10.1109/ICSEC.2015.7401435.</p>
                            <h4>C Ongkum, E Boonchieng.</h4><p>(2015). User Interface Generating by JSON Control Screen and Version Management on MongoDB (Internet Architecture). IEICE technical report, 2015,115 (307), 135-138.</p>
                            <h4>Piyavach Khunsongkiet and Ekkarat Boonchieng.</h4><p>(2015). Approximate Finding Pathologic Lesion Volume from One Dimension CT Scan by Semi - automatically Select Area and Average Slop at 2 Points Conjunction. IEICE Technical Report IA2015-42 (2015-11).</p>
                            <h4>S Sukhamsri and E Boonchieng.</h4><p>(2015). Radio Network Audience Tracking Using Audio Fingerprinting-Based Systems. IEICE Technical Report, vol. 115, no. 307, 125-128.</p>
                            <h4>K Duangchaemkarn, J Singkaew, E Boonchieng.</h4><p>(2015). Emerging Infectious Diseases Detection Using Internet-based Surveillance Approach. IEICE Technical Report, vol. 115, no. 307, 53-58.</p>
                            <h4>S Sukhamsri and E Boonchieng.</h4><p>(2014). Audio Fingerprinting Technique for Content Based Audio Identification Over Internet. IEICE Technical Report, vol. 114, no. 286, 17-19.</p>
                            <h4>P Khunsongkiet and E Boonchieng.</h4><p>(2014). Graphical User Interface Tool for JAVA Code Generator Using Depth First Search Technique on Directed Graph. IEICE Technical Report, vol. 114, no. 286, 121-126.</p>
                            <h4>E Boonchieng, W Boonchieng, W Senaratana, J Singkaew.</h4><p> (2014). Development of mHealth for public health information collection, with GIS, using private cloud: A case study of Saraphi district, Chiang Mai, Thailand. 2014 International on Computer Science and Engineering Conference (ICSEC), 350-353. doi: 10.1109/ICSEC.2014.6978221                            </p>
                            <h4>E. Boonchieng, "Performance and security issue on open source private cloud,</h4><p>" 2014 International Electrical Engineering Congress (iEECON), Chonburi, 2014, pp. 1-5. doi: 10.1109/iEECON.2014.6925941.</p>
                            <h4>E. Boonchieng and K. Duangchaemkarn,</h4><p>"Application of cloud computing in the Hospital Drug Information Center in Thailand," The 6th 2013 Biomedical Engineering International Conference, Amphur Muang, 2013, pp. 1-4. doi: 10.1109/BMEiCon.2013.6687678.</p>
                            <h4>E. Boonchieng and K. Duangchaemkarn, "Myocardial iron measurement in thalassemia using cardiac magnetic resonance image processing software,</h4><p>" The 5th 2012 Biomedical Engineering International Conference, Ubon Ratchathani, 2012, pp. 1-4. doi: 10.1109/BMEiCon.2012.6465497.</p>
                            <h4>Sirisak Butkrachang, Ekkarat Boonchieng, Uraporn Sardsud, Morakot Sukchotiratana, Abhinya Plikomol, Griangsak Chairote, Pitoon Narongchai. </h4><p> (2007). Wild Mushroom Database of Chiang Mai Community Forest. Asian J Biol, vol 3, 65-70.                            </p>
                            <h4>E. Boonchieng, W. Boonchieng and R. Kanjanavanit, "Edge-detection and segmentation methods for two-dimensional echocardiograms,</h4><p>" Computers in Cardiology, 2004, Chicago, IL, USA, 2004, pp. 541-544. doi: 10.1109/CIC.2004.1442994.                            </p>
                            <h4>E. Boonchieng, J. S. Soble, K. Dean, R. Lang and J. Roberge,</h4><p>"Three dimensional reconstruction of blood flow within the left ventricle: comparison of normal, dilated cardiomyopathy and reduced ejection fraction," Computers in Cardiology 2001. Vol.28 (Cat. No.01CH37287), Rotterdam, Netherlands, 2001, pp. 605-608. doi: 10.1109/CIC.2001.977728.</p>
                            <a href="#" class="btn btn-link text-primary read-more-trigger read-more-trigger-right">Read More <i class="icon-angle-down"></i></a>



                    

                            <div class="clear"></div>
                          
                        </div>
                        </div>
                    </div><!-- .entry end -->



                    


                </div>

            </div>
        </div>
    </section><!-- #content end -->

