
   <router-outlet>
   <app-slide></app-slide>
    <app-about></app-about>
    <app-portfolio></app-portfolio>
    <app-gallery></app-gallery>
    <app-perfomance></app-perfomance>
    <app-student></app-student>
    <app-entertainer></app-entertainer>
    <app-news></app-news>
    <app-contact></app-contact>

    </router-outlet>