
    <div class="container clearfix">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">
<br><br><br>
            <div class="row col-mb-50">
                <div class="col-md-3">
                    <img src="assets\demos\business\images\logo@2x.png" alt="Image" height="100" style="margin-top: -30px">
                </div>

                <div class="col-md-9">

                    <div class="row col-mb-30">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon clearfix">
                                <h4><a href="#section-about">About</a></h4>
                                <ul>
                                    <li><a href="#section-about">Intro</a></li>
                                    <li><a href="#section-position">Position</a></li>
                                    <li><a href="#section-portfolio">Portfolio</a></li>
                                    <li><a href="#section-perfomance">perfomance</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon clearfix">
                                <h4><a href="#section-gallery">Gallery</a></h4>
                                <ul>
                                    <li><a href="/gallery-detail">All picture</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon clearfix">
                                <h4><a href="#section-student">Student</a></h4>
                            
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon clearfix">
                                <h4><a href="#section-entertainer">Entertain</a></h4>
                                <ul>
                                    <li><a href="/news-detail">News-it</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="line line-sm"></div>

                    <div class="row justify-content-between col-mb-30">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <small class="fw-light" style="color: #AAA">|| Copyright © 2021 Associate Professor Dr.Ekkarat Boonchieng || Design: team A no.1 everytime ||</small>
                        </div>

                        <div class="col-12 col-md-auto text-center text-md-end">
                            <a href="#" aria-label="facebook" class="social-icon inline-block si-mini si-rounded si-colored si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" aria-label="twitter" class="social-icon inline-block si-mini si-rounded si-colored si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" aria-label="gplus" class="social-icon inline-block si-mini si-rounded si-colored si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" aria-label="pinterest" class="social-icon inline-block si-mini si-rounded si-colored si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>

                            <a href="#" aria-label="vimeo" class="social-icon inline-block si-mini si-rounded si-colored si-vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>

                            <a href="#" aria-label="instagram"  class="social-icon inline-block si-mini si-rounded si-colored si-instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
